/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$footer-orange: #E4A468;
$hr-orange: #EDBE92;
$section2-brown: #8F490C;
$section2-h1brown: #C15307;
$section4-hrorange: #CF5E07;