/* =============
    Section 5
============= */
#section-5 {
    .gallery {
        display: grid;
        gap: 20px;

        li {
            img {
                width: 100%;
            }
        }
    }
}