/* =============
    Section 1
============= */
#section-1 {


    .title-container {
        display: grid;

        h1.biggest {
            
            font-family: 'Playfair Display';
            font-size: 44px;
            text-align: center;
        }

        img {
            width: 100%;
            

            @include lg {
                display: grid;
                max-width: 1025px;

            }
        }
    }
}