/* =============
    Section 6
============= */
#section-6 {
    padding-top: 40px;
    
    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: ". section-6-aside ."
        "section-6-content section-6-content section-6-content";

        @include lg {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "section-6-aside section-6-content";

        }

        @include md {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: ". section-6-aside ."
            "section-6-content section-6-content";

        }

        .section-6-content {
            grid-area: section-6-content;
            
            p {
                color: #C15307;
                margin: 10px;
            }


        }

        aside {
            grid-area: section-6-aside;
            
        }

    }

    

}