/* =============
    Section 5
============= */
#section-5 {
    

    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-5 .";
    }

    ul {
        display: grid;
        grid-template-rows: repeat(3, 296px);
        grid-gap: 20px;

        @include md {
            grid-template-columns: 50% auto;
            grid-template-rows: repeat(3, 340px);
            grid-template-areas: 
            "gallery-1 gallery-1"
            "gallery-1 gallery-1"
            "gallery-2 gallery-3";

        }

        @include lg {
            grid-template-columns: 60% auto;
            grid-template-rows: repeat(2, 340px);
            grid-gap: 20px;

            grid-template-areas: 
            "gallery-1 gallery-2"
            "gallery-1 gallery-3";
        }

        @include xl {
            grid-area: section-5;
        }


        li {
            background-position: center;
            background-size: cover;
        }

        .gallery-1 {
            background-image: url('../img/section-5/prettycupoftea.jpg');
            
            @include md {
                grid-area: gallery-1;
                background-position: center top;

            }
            @include lg {
                grid-area: gallery-1;

            }
        }

        .gallery-2 {
            background-image: url('../img/section-5/peachcereal.jpg');
            @include md {
                grid-area: gallery-2;

            }
            @include lg {
                grid-area: gallery-2;

            }
        }

        .gallery-3 {
            background-image: url('../img/section-5/breakfastcupcake.jpg');
            @include md {
                grid-area: gallery-3;

            }

            @include lg {
                grid-area: gallery-3;
            }
        }


    }
    
}