/* =============
    Section 1
============= */
#section-1 {
    h1.biggest {
        font-family: 'Playfair Display';
        font-size: 44px;
        text-align: center;
        font-weight: 700;
    }
    
}