/* =============
    Section 3
============= */
#section-3 {
    
    section {
        display: grid;
        background-image: url('../img/section-3/teacups.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 516px; 
        

        @include sm {
            padding-top: 59px;
        }

        @include md {
            height: 575px;
        }

        @include lg {
            height: 625px;
        }

        @include xl {
            // max-width: 1025px;
            height: 682px;
        }
    }
}