/* =============
    Section 2
============= */
#section-2 {
    padding-bottom: 32px;
    
    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-2-container .";
    }
    

    .section-2-container {

        @include md {
            display: grid;
            grid-template-columns: 40% auto;
            grid-template-areas: "section-2-image section-2-content";
            padding: 50px 0;
        }
            
        @include xl {
            grid-area: section-2-container;
        }

        section {
            margin: 60px 0;

            @include md {
                margin: 0;
            }

            .section-2-content {
                padding: 0 15px;
                grid-area: section-2-content;
            }

                
            hr {
                border-top: 2px solid $footer-orange;
            }
                

            .head1 {
                color: $section2-h1brown;
                font-size: 25px;
                text-align: center;
                font-weight: bold;
            }
            .paragraph1 {
                color: $section2-brown;
                font-size: 16px;
                text-align: center;
            }
                
        }

        aside {
            background-image: url('../img/section-2/plateofdonuts.jpg');
            background-size: cover;
            height: 480px;
    
            @include md {
                grid-area: section-2-image;
                height: 550px;
            }
    
            @include lg {
                height: 650px;
            }
    
            @include xl {
                height: 740px;
            }
        }

            
    }

} 

