/* =============
    Section 6
============= */
#section-6 {
    padding-top: 40px;
    
    div {
        @include sm {
            display: grid;
            grid-template-columns: auto 35% auto;
            grid-template-areas: ". section-6-aside ."
            "section-6-content section-6-content section-6-content";
        }

        @include md {
            display: grid;
            grid-template-columns: auto 35% auto;
            grid-template-areas: ". section-6-aside ."
            "section-6-content section-6-content section-6-content";
        }
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-areas: ". section-6-aside ."
        // "section-6-content section-6-content section-6-content";

        @include lg {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "section-6-aside section-6-content";

        }

        // @include md {
        //     display: grid;
        //     grid-template-columns: 1fr 1fr;
        //     grid-template-areas: ". section-6-aside ."
        //     "section-6-content section-6-content";

        // }

        .section-6-content {
            @include lg {
                grid-area: section-6-content;
            }
            @include md {
                grid-area: section-6-content;
            }
            @include sm {
                grid-area: section-6-content;
            }
            
            p {
                color: #C15307;
                margin: 10px;
            }


        }

        aside {
            @include lg { 
                grid-area: section-6-aside;
            }
            @include md { 
                grid-area: section-6-aside;
            }
            @include sm { 
                grid-area: section-6-aside;
            }
            // grid-area: section-6-aside;
            
        }

    }

    

}