/* =============
    Section 2
============= */
#section-2 {
    
    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-2 .";
    }


    >div {
        @include lg {
            display: grid;
            grid-template-columns: 40% auto;

        }

        @include xl {
            grid-area: section-2;
        }

        aside {
            img {
                width: 100%;
            }
        }
    

        .section-2-container {
            display: grid;
            grid-template-columns: 15px auto 15px;
            grid-template-areas: 
            ". hr1 ."
            ". content ."
            ". hr2 ."
            ;

            @include md {
                grid-template-columns: 10% auto 10%;
            }

            .horizontalrule1 {
            
                grid-area: hr1;
                hr {
                    border-top: 2px solid $footer-orange;
                }
            }

            .section-2-content {
                grid-area: content;
                .head1 {
                    color: $section2-h1brown;
                    font-size: 25px;
                    text-align: center;
                    font-weight: bold;
                }
                .paragraph1 {
                    color: $section2-brown;
                    font-size: 16px;
                    text-align: center;
                }
            }

            .horizontalrule2 {
                grid-area: hr2;
                hr {
                    border-top: 2px solid $footer-orange;
                }
            }
        }

    } 
}
