/* =============
    Typography
============= */
body {
    font-family: 'Didot', serif;
}

h1,h3 {
    font-family: 'Playfair Display';
}


h2,h4 {
    font-family: 'Didot';
}

p {
    font-family: 'Didot';
}


