/* =============
    Footer
============= */
footer {

    background-color: $footer-orange;
    padding: 10px 0;

    h4 {
        color: white;
        margin: 10px;
    }
    
    p {
        color: white;
        text-align: right;
        margin: 10px;
    }

}