/* =============
    Footer
============= */
#footer {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". footer ."; 


    background-color: $footer-orange;

    .footer-container {
        grid-area: footer;

        h4 {
            color: white;
        }

        p {
            color: white;
            text-align: right;
        }
    }


}